@use postcss-extend;
@use postcss-mixins;
@use postcss-color-function;
@use postcss-nested;
@use postcss-custom-media;
@use postcss-simple-vars;

/** variables.css **/
:root {
  --body-font: 'Open Sans', Arial, Helvetica, sans-serif;

  /* Padding */
  --padding: 20px;
  --paddingXS: 30px;
  --paddingM: 50px;

  /* Breakpoints */
  --xxs: 445px;
  --xs: 625px;
  --s: 768px;
  --ms: 840px;
  --m: 960px;
  --ml: 1160px;
  --l: 1290px;
  --xl: 1440px;
  --xxl: 1800px;

  /* Colors */
  --black: #000;
  --white: #fff;
  --primary: #3f3b82;

  /* Borders */
  --border: 1px solid var(--black);

  /* Transitions */
  --duration: 0.25s;
  --speed: 200ms;
  --ease: ease-in-out;

  /* Grids */
  --gutter-sm: 10px;
  --gutter-lg: 20px;

  /* Header */
  --h-height: 57px;
  --h-height-lg: 83px;
}

/* Breakpoint Queries */
@custom-media --xxs (min-width: 445px);
@custom-media --xs (min-width: 625px);
@custom-media --s (min-width: 768px);
@custom-media --ms (min-width: 840px);
@custom-media --m (min-width: 960px);
@custom-media --ml (min-width: 1160px);
@custom-media --l (min-width: 1290px);
@custom-media --xl (min-width: 1440px);
@custom-media --xxl (min-width: 1600px);

/** Helpers **/
@define-mixin ratio $ratio: 1 {
  &::before {
    content: '';
    display: block;
    padding-bottom: calc($ratio * 100%);
  }
}

@define-mixin transition $attribute: all, $duration: var(--duration), $type: var(--ease) {
  transition: $attribute $duration $type;
}

@define-mixin fade-in {
  opacity: 1;
  visibility: visible;
}

@define-mixin fade-out {
  opacity: 0;
  visibility: hidden;
}

.section--with-bg {
  padding: 40px 0;
}

.bg-primary {
  background: var(--primary);
}

.c-white {
  color: var(--white);
}

/** typography.css **/

::selection {
  background: var(--black);
  color: var(--white);
}

@define-mixin p {
  font-family: var(--body-font);
  font-size: 100%;
  line-height: 1.7;
  font-weight: 400;
}

html {
  font-size: 100%;
}

body {
  @mixin p;

  color: var(--black);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p,
input,
select {
  @mixin p;
}

figure {
  margin: 0
}

.h2 {
  font-size: 1.4rem;
  line-height: 1.35;

  @media (--m) {
    font-size: 1.6rem;
  }
}

/** Module **/

.welcome__inner {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
}

.welcome__headline {
  margin-bottom: 10px;

  @media (--m) {
    margin-bottom: 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4.5rem 2.5rem;
  padding: 1.5rem;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* width: min(380px, 100%); */
  max-width: 380px;
}

.review__header {
  position: relative;
  padding: 0 1rem;
}

.review__header-btn {
  position: absolute;
  right: 75px;
  bottom: 30px;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  background: transparent;
}

.review__img {
  border-radius: 48% 52% 62% 38% / 38% 41% 59% 62%;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.review__user {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  color: rgb(0, 78, 55)
}

.review__descript {
  margin: 10px 0;
  line-height: 20px;
  color: rgb(66, 66, 66);
  font-size: 14px;
}

.review__detail {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-right: 48px;
  color: rgb(0, 78, 55);
  font-size: 15px;
  line-height: 20px;
}

.review__title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 78, 55);
}

.review__icon {
  height: 22px;
  width: 22px;
}

.review__product-wrap {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background: #f6ffea;
}

.review__product-image {
    border-right: 0.75px solid green;
    height: 80px;
    width: 40px;
    padding: 0 30px 0 15px;
}

.review__product-image-img,
.review__product-image-figure {
    width: 100%;
    height: 100%;
}

.review__product-info {
    font-size: 12px;
    font-weight: 500;
    padding: 0 15px;
    flex: 1 1 auto;
}

.review__product-info span {
    color: green;
}

.review__product-name {
    color: green;
    display: block;
}

.review__product-rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.review__product-rating svg {
    margin-right: 4px;
    height: 13px;
    width: 13px;
}

.review__product-rating-count {
    display: inline-block;
    margin-left: 6px;
}

@media screen and (min-width: 768px) {
  .reviews {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  .review__content {
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .reviews {
    grid-template-columns: repeat(3, 1fr);
  }
}

